table {
    border-collapse: collapse;
}
table, th, td {
    border: 0px solid black;
}

body {
    background-color: #f9fee1 
}

textarea {
    resize: none;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:0;
    text-align: center;
}
